# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log
.idea/
.sync/
.verysyncPLX/Broadcom_PCI_PCIe_SDK_v8_23_Final_2020-11-18.exe
